div.container {
    text-align: center;
    margin-top: 2%;
    color: gray;
    position: fixed;
    margin-left: 28.5%;
}

p, .p {
  font-family: ‘Oswald’, sans-serif;
}

.element {
  position: relative;          
  color: gray;
  text-align: center;
}

.pressureVal {
  font-size: 16px;
}

.humVal {
  font-size: 16px;
}

.tempVal {
  font-size: 16px;
}