.footer {
    margin-top: 21%;
    text-align: center;
    margin-left: 5px;
    color: #3D3D3D;
}

a, a:link, a:visited  {
    color: #3D3D3D;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
}
