.search {   
    margin-left:32%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.input-group {
    font-family: 'Courier New', Courier, monospace;
    
}

.inputSearch {
    border-radius:10px;
    width:480px;
    border: 2px solid #EEEEEE;
    height: 40px;
    background-color: #EEEEEE;
    color: #646464;
}

input::placeholder {
    color: #646464;
}